#content_wrapper {
	margin:0; border:0;
	padding:0 1pc;
	position:relative;
}
#sidebar {
	margin:0; padding:0; border:0;
	display:block;
	width: 144px;
	height:auto;
	min-height:288px;
	position:absolute;
	top:0;
	right:-156px;
	
	background:white;
}
#server_messages {
	background:#8b181a url("img/Web-Application-Icons-Set/PNG-48/Info.png") no-repeat;
	background-position:8px 6px;
	padding-left:64px;
}
#server_messages h4 {
	color:#ffc427;
	padding-top:9px;
}
#server_messages ul {
	list-style-type:square;
	padding:0;
	margin-bottom:6pt;
}
#server_messages li {
	color:white;
}